<div class="container offers-list-container">
    <div *ngFor="let offer of offers" class="row offer">
        <div class="col-3 col-offset-2">
            <a href="{{offer.links[0]}}"><img src="assets/offers/{{offer.skuName}}/icon.jpg" class="img-thumbnail"></a>
        </div>
        <div class="col-9">
            <p class="title"><a href="{{offer.links[0]}}">{{offer.title}}</a></p>
            <p>
                <a href="{{offer.links[0]}}" *ngIf="!offer.editing">{{offer.links[0]}}</a>
                <input type="text" class="form-control" *ngIf="offer.editing" [(ngModel)]="offer.links[0]" [ngModelOptions]="{standalone: true}" [compareWith]="compareFn" (focusout)="validate(offer, o); edit(offer)" autofocus >
                <span class="offer-edit-button" (click)="edit(offer)" *ngIf="!offer.editing && !newUrl">
                    <img class="offer-edit-icon" src="../../../assets/icons/edit.png">
                </span>
            </p>
            <p *ngIf="offer.isValid === false" class="info-error">
                <i class="fas fa-exclamation-triangle"></i>
                Link must start by {{offer.validation}}
            </p>
            <div class="categories-container">
                <div class="category category-{{category}}" *ngFor="let category of offer.categories">
                    <img class="offer-category-icon" src="../../../assets/icons/categories/{{category}}-icon.png">
                    {{category}}
                </div>
            </div> 
        </div>
    </div>
</div>