@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.offers-list-container .img-thumbnail{
    width: 100%;
    max-width: 90px;
    float: right;
    border: none;
}
.offers-list-container .offer{
    box-shadow: -1px 3px 6px #ccc;
    margin: 15px 0;
    padding: 10px 0;
    border-radius: 4px;
}
.offers-list-container .offer p{
    margin: 0;
    word-wrap: break-word;
}
.offers-list-container .offer .title{
    text-transform: capitalize;
}
.offers-list-container .offer .title a{
    text-decoration: none;
    color: black;
}
.categories-container {
    margin: 5px 0;
}
div.category {
    display: inline;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 2px;
}
div.category.category-bitcoin{
    border: 2px solid #ffd355;
    background-color: #ffee9c;
}
div.category.category-money{
    border: 2px solid rgb(54, 100, 56);
    background-color: #aee0bd;
}
div.category.category-video{
    border: 2px solid rgb(139, 37, 37);
    background-color: #e8a9ae;
}
div.category.category-games{
    border: 2px solid rgb(99, 27, 105);
    background-color: #ffcefd;
}
div.category.category-app{
    border: 2px solid rgb(27, 67, 105);
    background-color: #c3d3f3;
}
div.category.category-ads{
    border: 2px solid rgb(76, 83, 88);
    background-color: rgb(184, 187, 190);
}
div.category.category-faucet{
    border: 2px solid rgb(117, 119, 121);
    background-color: rgb(222, 224, 226);
}
div.category.category-news{
    border: 2px solid rgb(122, 101, 89);
    background-color: rgb(224, 198, 158);
}
.offer-category-icon{
    width: 20px;
    height: auto;
    margin-top: -2px;
}
.offer-edit-button{
    border: 1px solid #ddd;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-bottom: -8px;
    margin-left: 6px;
}
.offer-edit-icon{
    width: 15px;
    height: auto;
    margin: 2px auto 0;
    display: block;
}